<template name="header">

    &nbsp;
    <div class="ui secondary pointing menu">

        {{#if menu.home}}
            <a class="item active" href="{{pathFor 'Home'}}">
                Home
            </a>
        {{else}}
            <a class="item" href="{{pathFor 'Home'}}">
                Home
            </a>
        {{/if}}

        {{#if menu.meetTeam}}
            <a class="item active" href="{{pathFor 'MeetTeam'}}">
                Meet the Team
            </a>
        {{else}}
            <a class="item" href="{{pathFor 'MeetTeam'}}">
                Meet the Team
            </a>
        {{/if}}

        {{#if menu.shop}}
            <a class="item active" href="{{pathFor 'Shop'}}">
                Shop
            </a>
        {{else}}
            <a class="item" href="{{pathFor 'Shop'}}">
                Shop
            </a>
        {{/if}}


        <a class="item">
            Services
        </a>
        <a class="item">
            Galleries
        </a>

        {{#if menu.contact}}
            <a class="item active" href="{{pathFor 'Contact'}}">
                Contact
            </a>
        {{else}}
            <a class="item" href="{{pathFor 'Contact'}}">
                Contact
            </a>
        {{/if}}

        <div class="right menu">
            <a class="ui item">
            </a>
        </div>
    </div>

    &nbsp;&nbsp;

</template>