<template name="header">

    <div class="ui secondary pointing menu">

        {{#if menu.home}}
            <a class="item active" href="{{pathFor 'Home'}}">
                Home
            </a>
        {{else}}
            <a class="item" href="{{pathFor 'Home'}}">
                Home
            </a>
        {{/if}}

        {{#if menu.shop}}
            <a class="item active" href="{{pathFor 'Shop'}}">
                Shop
            </a>
        {{else}}
            <a class="item" href="{{pathFor 'Shop'}}">
                Shop
            </a>
        {{/if}}

        {{#if menu.contact }}
            <a class="item active" href="{{pathFor 'Contact'}}">
                Contact
            </a>
        {{else}}
            <a class="item" href="{{pathFor 'Contact'}}">
                Contact
            </a>
        {{/if}}

    </div>

    &nbsp;&nbsp;

</template>