<template name="shippingAndReturnPolicy">
    <h2>Shipping</h2>
    <ul>
        <li>
            T.G. Hair Toppers offers free standard shipping on all orders over $50.
        </li>
        <li>
            Orders under $50 will have a choice of shipping carrier options.
        </li>
        <li>
            If a po box is given, the order will ship via usps priority mail.
        </li>
        <li>
            Shipping charges are based on weight and destination zip code.
        </li>
    </ul>

    <div class="ui hidden divider"></div>

    <h2>Processing Time</h2>

    <ul>
        <li>
            Orders received between Monday and Friday (excluding U.S. federal holidays) must be placed by 12 noon Eastern Standard Time (EST) to be processed on the same business day.
        </li>
        <li>
            Orders received on Saturday and Sunday are processed on Monday of the following week.
        </li>
        <li>
            All custom or special orders will either specify processing time under decryption in our shop or you may call us at 917-405-4184.
        </li>

    </ul>

    <strong>If you have questions about your order or need to make changes please: </strong>
    <ul>
        <li><a id="contactUs" href="">Contact us</a></li>
        <li>Reply to your confirmation email</li>
        <li>Call us at 917-405-4184</li>
    </ul>

    <div class="ui hidden divider"></div>

    <h2>Return Policy</h2>

    <ul>
        <li>
            We hope You will be very pleased with your order. If you are not satisfied we are happy to offer a refund or exchange on all goods returned to us within fourteen days of your receipt, provided they are in their original, unopened and unused condition.
        </li>
        <li>
            All returned goods will be examined upon receipt of return. For reasons of hygiene we are unable to offer refunds, replacements or exchanges on any opened or used goods. We will process your return as quickly as possible and notify you by email once your refund, replacement or exchange has been processed.
        </li>
        <li>
            It is the responsibility of the customer to notify us of any shipping or billing address changes prior to any replacements or exchanges. During please allow a maximum of 30 working days for your refund, replacement or exchange to be processed.
        </li>
        <li>
            Your payment for goods will be refunded by T.G. Hair &amp; Makeup inc as soon as possible by original payment method, no later than 30 working days after receipt of goods.
        </li>
        <li>
            Please note delivery charges are not refunded.
        </li>
    </ul>

</template>