<template name="Booking">



    <div class="center aligned ui grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">Availability for Booking a Consultation</h1>
            </div>
        </div>
    </div>

    <div class="ui center aligned segment">
        <div class="row">
            <div class="ui basic buttons">

                {{#if isDayCal }}
                    <div class="ui button active" id="dayCal">Daily</div>
                {{else}}
                    <div class="ui button" id="dayCal">Daily</div>
                {{/if}}


                {{#if isWeekCal }}
                    <div class="ui button active" id="weekCal">Weekly</div>
                {{else}}
                    <div class="ui button" id="weekCal">Weekly</div>
                {{/if}}

                {{#if isMonthCal }}
                    <div class="ui button active" id="monthCal">Monthly</div>
                {{else}}
                    <div class="ui button" id="monthCal">Monthly</div>
                 {{/if}}

            </div>
        </div>

        <br>

        <!-- daily, weekly or monthly calendar -->
        <div class="row">
            {{#if isDayCal }}
                <iframe src="https://calendar.zoho.com/embed/db307e66b671f448204e67abce39f49fe39d91da1e0ca9a0db60c0dd8e565e49379f599603f8ebd3dbdf93d644f9fbcf?title=Consultation_Schedule&type=1&l=en&tz=America/New_York&sh=%5B0%2C0%2C0%5D&v=0" width="600" height="500" frameborder="0" scrolling="no"></iframe>
            {{/if}}

            <!-- weekly calendar -->
            {{#if isWeekCal }}
                <iframe src="https://calendar.zoho.com/embed/db307e66b671f448204e67abce39f49fe39d91da1e0ca9a0db60c0dd8e565e49379f599603f8ebd3dbdf93d644f9fbcf?title=Consultation_Schedule&type=1&l=en&tz=America/New_York&sh=%5B0%2C0%2C0%5D&v=1" width="600" height="500" frameborder="0" scrolling="no"></iframe>
            {{/if}}

            <!-- monthly calendar -->
            {{#if isMonthCal }}
                <iframe src="https://calendar.zoho.com/embed/db307e66b671f448204e67abce39f49fe39d91da1e0ca9a0db60c0dd8e565e49379f599603f8ebd3dbdf93d644f9fbcf?title=Consultation_Schedule&type=1&l=en&tz=America/New_York&sh=%5B0%2C0%2C0%5D&v=2" width="600" height="500" frameborder="0" scrolling="no"></iframe>
            {{/if}}
        </div>
    </div>

    <div class="row">
        <!--
        <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.com/terrigrauel/form/RequestConsultation/formperma/je8K59jd4E144CCb2jbaM6E2_'>
        </iframe>
      -->
        <!-- production -->
        <!--
        <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.com/tghairtoppers/form/RequestaConsultation/formperma/0pbAoDNXnip9bj8sbKR3Qycz8VidKbDaGiptE0wPDv4'></iframe>
      -->
       <!-- test -->
       <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.com/tghairtoppers/form/RequestaConsultation/formperma/0pbAoDNXnip9bj8sbKR3Qycz8VidKbDaGiptE0wPDv4'></iframe>
    </div>


</template>
