<template name="Home">
    <div class="ui center aligned segment">

        <div class="ui small modal">
            <div class="header">Account Verification Required</div>
            <div class="content">
                <p>Please check your email to verify your account in order to schedule a consultation</p>
            </div>
            <div class="actions">
                <div class="ui approve button">OK</div>
            </div>
        </div>


        {{#if isLoggedIn }}
            <a id="bookingButton" class="massive ui button" href="{{pathFor 'Booking'}}">
                Schedule My Consultation
            </a>
        {{/if}}


        <br>
        <h1>Wig & Scalp Care Naturally . . . </h1>
        <br>


        <img class="ui centered medium bordered circular image" src="/img/logo/logoTG_black_on_transparent.png"><br>
        <p><a href="{{pathFor 'Shop'}}">TG Hair Toppers</a> utilizes first-to-market video conferencing to enable stylists  to create real time behind-the-chair custom hair pieces (toppers) or wigs matched perfectly to their client’s hair. Our stylists custom design wigs and hairpieces to match perfectly one’s hair color, style and texture. We do this by having a Face-time consultation with the client, then either going directly to the client’s home or with a hairstylist in their hair salon. We bring our wigs and our expertise to the clients.</p>


        <div class="ui tablet stackable steps">
            <div class="link step">
                <i class="add user icon"></i>
                <div class="content">
                    <!-- <img src="/img/clipboard42x36.png"> -->
                    <div class="title">Sign in</div>
                    <div class="description">
                        <ul>
                            <li>
                                Complete our easy sign-up form
                            </li>
                            <li>
                                Schedule a consultation
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="link step">
                <i class="comments icon"></i>
                <div class="content">
                    <div class="title">Real-time Consultation</div>
                    <div class="description">Get your Wig Care Assessment in Real-time via Facetime or Hangouts</div>
                </div>
            </div>
            <div class="link step">
                <i class="home icon"></i>
                <div class="content">
                    <div class="title">We Work with You and your Stylist</div>
                    <div class="description">Either send us your wig for the finishing touches or <a href="#">customize one of ours</a></div>
                </div>
            </div>
        </div>

        <!--
        <div class="ui divider"></div>

        <img class="ui centered medium bordered circular image" src="/img/logo/xstatic_black_on_transparent.png"><br>
        <p>XStatic wig care is a method of caring for wigs and hairpieces naturally through using organic conditioning hair color and hair care products, gentle shampoo technique, expert styling and our wig storage system. Our wig delivery and storage bags are made out of carbon fiber and silverized fabrics that create a germ-free antistatic environment inside the bags.</p>

        <div class="ui divider"></div>

        <img class="ui centered medium bordered circular image" src="/img/logo/silver_salon_black_on_transparent.png"><br>
        <p>Silver Salon Essentials presents a new technology that harnesses the natural antibacterial properties of silver to protect, sterilize, and sooth the skin via the application of our Silver Wig Liner Caps, Silver Scrunch Caps, and Silver Pro Hand Sanitizer Towel. The Silver Anti-static Styling and Protective Cover functions great as a styling cloth for wigs and hairpieces. It inhibits static charge, purifies and wicks moisture of the wig liner and gives an elegant look to styrofoam heads.</p>
        -->

    </div>
</template>