<template name="Services">


        <div class="ui right vertical menu visible sidebar">
            <div class="ui styled fluid accordion">
                <a class="item">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        What services are offered?
                    </div>


                    <div class="active content">

                        <p>Styling, Haircuts, Organic Hair Color Systems, Texture and Restructuring, Hair Treatment and House Calls</p>

                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <a class="header">Styling</a>
                                    <div class="description">Hair styling and shampooing of topper</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">Haircuts</a>
                                    <div class="description">Hair cutting and shampooing of topper</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">Organic Hair Color Systems</a>
                                    <div class="description">Hair color, shine gloss, and highlights</div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="content">
                                    <a class="header">Texture and Restructuring</a>
                                    <div class="description">Improve the texture and structure of the topper</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">Hair Treatment</a>
                                    <div class="description">A conditioning treatment on topper</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">House Calls</a>
                                    <div class="description">Restyling, makeup, pickup or deliver and first time consultation</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="item">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        What introductory packages are offered?
                    </div>
                    <div class="active content">
                        <p>There are two Introductory Packages. One for short hair and the other for long</p>

                        <div class="ui list">
                            <div class="item">
                                <div class="content">
                                    <a class="header">Long Hair</a>
                                    <div class="description">Introductory package for hair longer than 14 inches</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <a class="header">Short Hair</a>
                                    <div class="description">Introductory package for hair 14 inches or shorter</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="item">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        How to contact us?
                    </div>
                    <div class="active content">
                        <p>Contact us directly by phone to schedule an appointment, for exact price quotes, or to pay for services rendered</p><br>
                        <span><i class="call icon"></i>212.300.4296</span>

                    </div>
                </a>

                <a class="item">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        What is the referral program?
                    </div>
                    <div class="active content">
                        <p>Refer a friend and receive complementary styling, pick-up, and delivery when your friend purchases an Introductory Package</p>
                    </div>
                </a>
                <a class="item">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        How does pick-up, delivery and drop-off work for various locations?
                    </div>
                    <div class="active content">
                        We deliver to the Upper East and West sides of Manhattan as well as the surrounding area of Crown Heights Brookyln
                    </div>
                </a>
            </div>
        </div>

        <div class="pusher">
                <div class="ui segment">
                    <img class="ui right floated massive rounded image" src="http://tghairtoppers.com/wp-content/uploads/2014/04/featuredImageServicePage.jpg">
                    <h1>CUT COLOR STYLE</h1>
                    <p>
                        Our stylists skillfully create simple current looks. We lighten up the heavy “wiggy” look with haircuts that create the appearance and feel of natural movement and texture. Innovative hair coloring techniques give a natural but dramatically different look from standard wigs. We finish with styling that creates sleek shiny straight hair or beautiful textured waves that enhances your own personal look.
                        <br><br>

                        Our goal is to take the utmost care of your wigs with our XStatic wig care products. Each product is designed to support your wig’s longevity from our gentle, organic non-sulphate aloe based shampoos, botanical and essential oil based conditioners, to our anti-static, antimicrobial wig storage systems.
                        <br><br>
                        Our staff are expertly trained in the specialization of wig care and styling with an emphasis on shampoo technique, gentle brushing and skilfully regulating heat temperature when thermal styling your wigs.
                    </p>
                </div>
        </div>


</template>