<template name='Charge'>
  {{> script_template}}

  <form id="payment-form">
  <div class="form-row">
    <label for="card-number">
      Credit or debit card
    </label>
    <div id="card-number">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <label for="card-expiry">
      MM / YY
    </label>
    <div id="card-expiry">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <label for="card-cvc">
      CVC
    </label>
    <div id="card-cvc">
      <!-- A Stripe Element will be inserted here. -->
    </div>



    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Pay {{final_total}}</button>
</form>
</template>
