<template name="Contact">

    <!-- basic modal for submit event -->
    <div class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Email sent
        </div>
        <div class="image content">
            <div class="image">
                <i class="mail outline icon"></i>
            </div>
            <div class="description">
                <p>Thank you for contacting us!<br><br>
                    Your participation helps our business to thrive. We will follow up with your request as soon as possible</p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui ok green basic inverted button">
                    <i class="thumbs outline up icon"></i>
                    OK
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid">

        <!-- contact greeting -->
        <div class="row">

            <div class="four wide column"></div>

            <div class="eight wide column">
                <div class="ui piled segment">
                    <h3 class="ui header">A Message from TG Hair Toppers!</h3>
                    <p>Supporting creatives, craftsmen and smaller designers who infuse love and passion into their work inspires us to create great products for you and your clients.</p>
                    <p>We give you our best</p><br>
                    <p>- The Team at TG Hair Toppers</p>

                    <br>

                    <div class="ui segments">
                        <div class="ui segment">
                            <h4 class="ui dividing header">TG Hair Toppers</h4>
                            <p><i class="building icon"></i>704 West End Avenue 5A New York, NY 10025</p>
                            <p><i class="building outline icon"></i>780 East 133rd Street, 205 The Bronx, New York 10454</p>
                            <p><i class="phone icon"></i>917-405-4184</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="four wide column"></div>

        </div>

        <!-- contact form -->
        <div class="row">
            <div class="one wide column"></div>
            <div class="fourteen wide column">

                <div class="ui segment">

                    <h3 class="ui header">Contact us!</h3>

                    <form class="ui form" name="myForm" id="myForm">

                        <div class="two fields">
                            <div class="field">
                                <label for="first_name">First Name: </label>
                                <input name="first_name" placeholder="First Name" type="text" onblur="if(this.value != ''){
                                  ga('set', 'page', '/firstName');
                                  ga('send', 'pageview');
                                }">
                            </div>
                            <div class="field">
                                <label for="last_name">Last Name: </label>
                                <input name="last_name" placeholder="Last Name" type="text" onblur="if(this.value != ''){
                                  ga('set', 'page', '/lastName');
                                  ga('send', 'pageview');
                                }">
                            </div>
                        </div>

                        <div class="field">
                            <label for="phone">Phone: </label>
                            <input name="phone" placeholder="Phone Number" type="text" onblur="if(this.value != ''){
                              ga('set', 'page', '/phone');
                              ga('send', 'pageview');
                            }">
                        </div>

                        <div class="field">
                            <label for="email">Email: </label>
                            <input name="email" placeholder="Email" type="text" onblur="if(this.value != ''){
                              ga('set', 'page', '/email2');
                              ga('send', 'pageview');
                            }">
                        </div>

                        <div class="field">
                            <label for="message">Message: </label>
                            <textarea name="message" placeholder="What is your reason for contacting us?" onblur="if(this.value != ''){
                              ga('set', 'page', '/message');
                              ga('send', 'pageview');
                            }"></textarea>
                        </div>

                        <div class="ui error message"></div>

                        <!-- <div class="ui submit button" id="submit" type="submit">Submit</div> -->
                        <button class="ui button" type="submit">Submit</button>

                    </form>


                </div>
            </div>
            <div class="fourteen wide column"></div>
        </div>

    </div>
</template>
