<template name="Shop">

    {{#if shop.viewProduct }}
    <div class="center aligned ui grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">The Shop</h1>
                <br>

                <div class="ui massive buttons">
                        <button id="viewStylists" class="ui button">View Services</button>
                        <div class="or"></div>
                        <button class="ui positive button">View Products</button>
                </div>
            </div>
        </div>
    </div>
    <div class="left aligned ui grid">
        <div class="row">
            <div class="one wide column"></div>
            <div class="fourteen wide column">
                {{> Products }}

                <br>

                <div class="ui divider"></div>

                <div class="ui divided items">
                    {{#each products }}
                        {{> ProductItem }}
                    {{/each}}
                </div>

                <div class="ui divider"></div>

                {{#if isMoreProducts }}
                    <a href="{{nextPath}}"><button class="fluid ui basic black button">View More Products</button></a><br>
                {{/if}}
            </div>
            <div class="one wide column"></div>
        </div>
    </div>
    {{else}}
        <div class="center aligned ui grid">

            <div class="row">
                <div class="column">
                    <h1 class="ui header">The Shop</h1>
                    <br>

                    <div class="ui massive buttons">
                            <button class="ui positive button">View Services</button>
                            <div class="or"></div>
                            <button id="viewProducts" class="ui button">View Products</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="center aligned ui grid">

            <div class="row">
                <div class="five wide column"></div>
                <div class="ten wide column">
                    {{> Services }}
                </div>

            </div>

        </div>
    {{/if}}

    <div class="ui small modal">
        <div class="header">Shop - Products</div>
        <div class="content">
            <p>
                Welcome to the product area of the Shop!
            </p>

            <ul class="ui list">
                <li>All products are displayed by default</li>
                <li>Select a category or price range to narrow your results</li>
            </ul>
        </div>

        <div class="actions">
            <div id="productModalButton" class="ui button">OK</div>
        </div>
    </div>


</template>
